https://www.geeksforgeeks.org/machine-learning/?ref=shm

https://machinelearningmastery.com/a-tour-of-machine-learning-algorithms/

NNs, Deep left

compare with sklearn implementation

both regression and classification

wine: https://archive.ics.uci.edu/ml/datasets/Wine

car: https://archive.ics.uci.edu/ml/datasets/Car+Evaluation

air quality: https://archive.ics.uci.edu/ml/datasets/Air+Quality

# Download and Load Data

In [42]:
import pandas as pd
import os
import wget
import zipfile
import numpy as np
from sklearn.model_selection import train_test_split
import time
from sklearn.linear_model import LinearRegression as SklearnLinearRegression

In [2]:
print(pd.__version__)

1.2.4

In [3]:
current_dir = os.getcwd()
print(current_dir)

D:\Git_Codes\Machine_Learning_Algorithms_From_Scratch

In [4]:
data_dir = os.path.join(current_dir, "data")
os.makedirs(data_dir, exist_ok=True)

In [5]:
def dataset_downloader():
    if not (os.path.exists("./data/wine.data")):
        wine_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data"
        w = wget.download(wine_url, out=data_dir)
        
    if not (os.path.exists("./data/car.data")):
        car_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data"
        c = wget.download(car_url, out=data_dir)
        
    if not (os.path.exists("./data/AirQualityUCI.xlsx")):
        air_quality_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00360/AirQualityUCI.zip"
        a = wget.download(air_quality_url, out=data_dir)
        with zipfile.ZipFile("./data/AirQualityUCI.zip") as file:
            file.extractall(data_dir)
        os.remove("./data/AirQualityUCI.zip")

In [6]:
dataset_downloader()

In [7]:
os.listdir(data_dir)

['AirQualityUCI.csv',
 'AirQualityUCI.xlsx',
 'AirQualityUCId.xlsx',
 'car.data',
 'wine.data']

In [8]:
wine = pd.read_csv('./data/wine.data', header=None)
car = pd.read_csv('./data/car.data', header=None)
air = pd.read_excel('./data/AirQualityUCI.xlsx')

In [9]:
air

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,2004-03-10,18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.600,48.875001,0.757754,NaN,NaN
1,2004-03-10,19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.300,47.700000,0.725487,NaN,NaN
2,2004-03-10,20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.900,53.975000,0.750239,NaN,NaN
3,2004-03-10,21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.000,60.000000,0.786713,NaN,NaN
4,2004-03-10,22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.150,59.575001,0.788794,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,2005-04-04,10:00:00,3.1,1314.25,-200,13.529605,1101.25,471.7,538.50,189.8,1374.25,1728.50,21.850,29.250000,0.756824,NaN,NaN
9353,2005-04-04,11:00:00,2.4,1162.50,-200,11.355157,1027.00,353.3,603.75,179.2,1263.50,1269.00,24.325,23.725000,0.711864,NaN,NaN
9354,2005-04-04,12:00:00,2.4,1142.00,-200,12.374538,1062.50,293.0,603.25,174.7,1240.75,1092.00,26.900,18.350000,0.640649,NaN,NaN
9355,2005-04-04,13:00:00,2.1,1002.50,-200,9.547187,960.50,234.5,701.50,155.7,1041.00,769.75,28.325,13.550000,0.513866,NaN,NaN
9356,2005-04-04,14:00:00,2.2,1070.75,-200,11.932060,1047.25,265.2,654.00,167.7,1128.50,816.00,28.500,13.125000,0.502804,NaN,NaN

# Metrics

In [ ]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import median_absolute_error
from sklearn.metrics import max_error
from sklearn.metrics import explained_variance_score
from sklearn.metrics import mean_tweedie_deviance
from sklearn.metrics import mean_pinball_loss
from sklearn.metrics import make_scorer
from sklearn.datasets import make_regression
from sklearn.metrics import d2_tweedie_score, make_scorer
from sklearn.metrics import d2_pinball_score, make_scorer

## Sklearn Metrics

In [ ]:
def sklearn_lr_metrics(y_test, y_pred):
    R2 = r2_score(y_test, y_pred)
    MAE = mean_absolute_error(y_test, y_pred)
    MSE = mean_squared_error(y_test, y_pred)
    MSLE = mean_squared_log_error(y_test, y_pred)
    MAPE = 
    MedAE = 
    MaxError = 
    explained_variance = 
    D = 
    pinball = 
    D2 = 
    
def my_lr_metrics(y_test, y_pred):
    m, n = y_test.shape
    var_mean = np.sum(np.power((y_test - np.mean(y_test)), 2))
    var_line = np.sum(np.power((y_test - y_pred), 2))
    R2 = (var_mean - var_line) / var_mean
    MAE = (1/m) * np.sum(np.abs(y_test - y_pred))
    MSE = (1/m) * np.sum(np.power((y_test - y_pred), 2))
    MSEL = (1/m) * np.sum(np.power((np.log(y_test)+1) - (np.log(y_pred)+1), 2)

In [ ]:
def sklearn_clf_metrics():
    pass

def my_clf_metrics():
    pass

## From Scratch Metrics

## 1.Linear Regression

https://www.askpython.com/python/examples/linear-regression-from-scratch

https://faun.pub/implementing-multiple-linear-regression-from-scratch-in-python-f5d84d4935bb

https://mlfromscratch.com/linear-regression-from-scratch/#/

## From Scratch

In [43]:
class LinearRegression:
    def __init__(self, epochs=15000, lr=0.001):
        self.epochs = epochs
        self.lr = lr
        
    def fit(self, x, y):
        start = time.time()
        m, n = x.shape
        self.w = np.random.rand(1, n)
        self.b = np.random.uniform()
        for i in range(self.epochs):
#             intercept = np.ones((m, 1))
#             x = np.column_stack((x, intercept))
            y_hat = np.dot(x,self.w.T) + self.b
            
            # compute cost
            cost = (1/m) * np.sum(np.power((y_hat - y), 2))
            
            # compute gradient descent
            w_teta = (1/m) * np.dot((y_hat - y).T, x)
            b_teta = (1/m) * np.dot((y_hat - y).T, np.ones((m, 1))) 
            
            # update weights
            self.w = self.w - self.lr * w_teta
            self.b = self.b - self.lr * b_teta
        end = time.time()
        print("Elapsed time: ", (end - start))
        
    def predict(self, x):
        print(x.shape)
        print(self.w.T.shape)
        print(self.b.shape)
        y_hat = np.dot(x,self.w.T) + self.b
        return y_hat

## Data Preprocessing

In [37]:
air[air.isna().any(axis=1)]

Empty DataFrame
Columns: [Date, Time, CO(GT), PT08.S1(CO), NMHC(GT), C6H6(GT), PT08.S2(NMHC), NOx(GT), PT08.S3(NOx), NO2(GT), PT08.S4(NO2), PT08.S5(O3), T, RH, AH]
Index: []

In [12]:
air.isna().any(axis=1)

0       True
1       True
2       True
3       True
4       True
        ...
9352    True
9353    True
9354    True
9355    True
9356    True
Length: 9357, dtype: bool

In [13]:
air.drop('Unnamed: 15', inplace=True, axis=1)
air.drop('Unnamed: 16', inplace=True, axis=1)

In [14]:
air[air.isna().any(axis=1)]

Empty DataFrame
Columns: [Date, Time, CO(GT), PT08.S1(CO), NMHC(GT), C6H6(GT), PT08.S2(NMHC), NOx(GT), PT08.S3(NOx), NO2(GT), PT08.S4(NO2), PT08.S5(O3), T, RH, AH]
Index: []

In [15]:
x = air.iloc[:, 2:-1]
y = air.iloc[:, -1:]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

## Run

In [38]:
LR = LinearRegression()

In [39]:
LR.fit(x_train, y_train)

C:\Users\Samin\Anaconda3\envs\ML\lib\site-packages\ipykernel_launcher.py:24: RuntimeWarning: invalid value encountered in subtract

Elapsed time:  46.05252242088318

In [40]:
prediction = LR.predict(x_test)

(1872, 12)
(12, 1)
(1, 1)

## Sklrean Linear Regression

In [44]:
Sklearn_LR = SklearnLinearRegression()

In [45]:
start = time.time()
Sklearn_LR.fit(x_train, y_train)
end = time.time()
print("Elapsed time: ", (end - start))

Elapsed time:  0.0499720573425293

In [47]:
sklearn_prediction = Sklearn_LR.predict(x_test)

## 2.Logistic Regression

https://www.askpython.com/python/examples/logistic-regression-from-scratch

https://www.javatpoint.com/logistic-regression-in-machine-learning

multi: https://www.alpha-quantum.com/blog/logistic-regression/logistic-regression-from-scratch/

https://www.youtube.com/watch?v=yIYKR4sgzI8

## 3.KNN

https://www.analyticsvidhya.com/blog/2018/08/k-nearest-neighbor-introduction-regression-python/

https://www.askpython.com/python/examples/k-nearest-neighbors-from-scratch

https://machinelearningmastery.com/tutorial-to-implement-k-nearest-neighbors-in-python-from-scratch/

https://mlfromscratch.com/measures-of-distance-similarity-and-dissimilarity/

https://www.youtube.com/watch?v=HVXime0nQeI

## 4.SVM

https://github.com/adityajn105/SVM-From-Scratch

https://towardsdatascience.com/svm-implementation-from-scratch-python-2db2fc52e5c2

https://machinelearningmastery.com/method-of-lagrange-multipliers-the-theory-behind-support-vector-machines-part-3-implementing-an-svm-from-scratch-in-python/

https://www.kdnuggets.com/2020/03/machine-learning-algorithm-svm-explained.html

https://www.analytixlabs.co.in/blog/introduction-support-vector-machine-algorithm/

https://www.youtube.com/watch?v=efR1C6CvhmE

https://www.youtube.com/watch?v=Toet3EiSFcM

https://www.youtube.com/watch?v=Qc5IyLW_hns

## 5.SOM
NN hws

## 6.LVQ
NN hws

## 7.Regularization

https://www.einfochips.com/blog/regularization-make-your-machine-learning-algorithms-learn-not-memorize/

https://harish-reddy.medium.com/regularization-in-python-699cfbad8622

https://www.geeksforgeeks.org/implementation-of-lasso-regression-from-scratch-using-python/

https://www.simplilearn.com/tutorials/machine-learning-tutorial/regularization-in-machine-learning

https://medium.com/analytics-vidhya/understanding-regularization-algorithms-450777fa0ed3

https://www.youtube.com/watch?v=Q81RR3yKn30

https://www.youtube.com/watch?v=NGf0voTMlcs

https://www.youtube.com/watch?v=1dKRdX9bfIo

https://www.youtube.com/watch?v=Xm2C_gTAl8c

## 8.Decision Tree

https://anderfernandez.com/en/blog/code-decision-tree-python-from-scratch/

https://www.analyticsvidhya.com/blog/2020/10/all-about-decision-tree-from-scratch-with-python-implementation/

https://insidelearningmachines.com/build-a-decision-tree-in-python/

https://mlfromscratch.com/decision-tree-classification/

https://www.youtube.com/watch?v=_L39rN6gz7Y

https://www.youtube.com/watch?v=g9c66TUylZ4

## 9.Naive Bayes

https://philippmuens.com/naive-bayes-from-scratch

https://blog.devgenius.io/implementing-na%C3%AFve-bayes-classification-from-scratch-with-python-badd5a9be9c3

https://medium.com/@johnm.kovachi/implementing-a-multinomial-naive-bayes-classifier-from-scratch-with-python-e70de6a3b92e

https://evidencen.com/gnbclassification/

## 10. ROC and AUC

https://www.youtube.com/watch?v=4jRBRDbJemM

## 11.K-means K-medians

https://www.youtube.com/watch?v=4b5d3muPQmA

https://www.askpython.com/python/examples/k-means-clustering-from-scratch

https://towardsdatascience.com/create-your-own-k-means-clustering-algorithm-in-python-d7d4c9077670

https://medium.com/@pasdan/k-clustering-means-medians-via-python-2a5f251582ee

## 12.Hierarchical Clustering

https://www.youtube.com/watch?v=7xHsRkOdVwo

https://www.mltut.com/hierarchical-clustering-in-python-step-by-step-complete-guide/

## 13.PCA, SVD, LDA

https://mlfromscratch.com/principal-component-analysis-pca-svd/#/

https://www.youtube.com/watch?v=FgakZw6K1QQ

https://www.askpython.com/python/examples/principal-component-analysis

https://machinelearningmastery.com/calculate-principal-component-analysis-scratch-python/

--------------

https://drscotthawley.github.io/blog/2019/12/21/PCA-From-Scratch.html

https://www.youtube.com/watch?v=azXCzI57Yfc

--------------

https://www.depends-on-the-definition.com/lda-from-scratch/

https://towardsdatascience.com/latent-dirichlet-allocation-lda-9d1cd064ffa2

https://ai.plainenglish.io/fischers-linear-discriminant-analysis-in-python-from-scratch-bbe480497504

## 14.Random Forest

https://mlfromscratch.com/random-forest/#/

https://www.youtube.com/watch?v=J4Wdy0Wc_xQ

https://www.youtube.com/watch?v=sQ870aTKqiM

https://carbonati.github.io/posts/random-forests-from-scratch/

https://insidelearningmachines.com/build-a-random-forest-in-python/

https://www.askpython.com/python/examples/random-forest-regression

https://www.analyticsvidhya.com/blog/2018/12/building-a-random-forest-from-scratch-understanding-real-world-data-products-ml-for-programmers-part-3/

## 15.Boosting

https://medium.com/greyatom/a-quick-guide-to-boosting-in-ml-acf7c1585cb5

https://www.analyticsvidhya.com/blog/2015/11/quick-introduction-boosting-algorithms-machine-learning/

https://www.ibm.com/cloud/learn/boosting

https://howtolearnmachinelearning.com/articles/boosting-in-machine-learning/

## 16.Bagging

https://www.simplilearn.com/tutorials/machine-learning-tutorial/bagging-in-machine-learning

https://insidelearningmachines.com/build-a-bagging-classifier-in-python/

https://www.section.io/engineering-education/implementing-bagging-algorithms-in-python/

https://www.mygreatlearning.com/blog/bagging-boosting/

## 17.Voting

https://machinelearningmastery.com/voting-ensembles-with-python/

http://rasbt.github.io/mlxtend/user_guide/classifier/EnsembleVoteClassifier/

https://www.kaggle.com/code/saurabhshahane/voting-classifier

## 18.Stacking

https://mlfromscratch.com/model-stacking-explained/#/

https://machinelearningmastery.com/implementing-stacking-scratch-python/

https://towardsai.net/p/l/machine-learning-model-stacking-in-python

## 19.AdaBoost

https://www.youtube.com/watch?v=LsK-xG1cLYA

https://www.youtube.com/watch?v=Xz0x-8-cgaQ

https://www.youtube.com/watch?v=SEwxvjfxxmE

https://towardsdatascience.com/adaboost-from-scratch-37a936da3d50

https://www.mygreatlearning.com/blog/adaboost-algorithm/

https://www.analyticsvidhya.com/blog/2021/09/adaboost-algorithm-a-complete-guide-for-beginners/

## 20.Gradient Boosting

https://www.youtube.com/watch?v=3CC4N4z3GJc

https://www.youtube.com/watch?v=2xudPOBz-vs

https://www.youtube.com/watch?v=jxuNLH5dXCs

https://www.youtube.com/watch?v=StWY5QWMXCw

https://www.analyticsvidhya.com/blog/2021/04/how-the-gradient-boosting-algorithm-works/

https://www.wallstreetmojo.com/gradient-boosting/

https://machinelearningmastery.com/gentle-introduction-gradient-boosting-algorithm-machine-learning/

## 21.XGBoost

https://www.youtube.com/watch?v=OtD8wVaFm6E

https://www.youtube.com/watch?v=8b1JEDvenQU

https://www.youtube.com/watch?v=ZVFeW798-2I

https://www.youtube.com/watch?v=oRrKeUCEbq8

https://www.mygreatlearning.com/blog/xgboost-algorithm/

https://www.geeksforgeeks.org/xgboost/

https://blog.jovian.ai/machine-learning-with-python-implementing-xgboost-and-random-forest-fd51fa4f9f4c

https://www.analytixtime.com/post/xgboostregression-from-scratch-in-excel/

## 22.Optimizers

https://mlfromscratch.com/optimizers-explained/#/

## 23.Activation Functions

https://mlfromscratch.com/activation-functions-explained/#/

https://mlfromscratch.com/neural-networks-explained/#/

## 24.MLE

https://mlfromscratch.com/probability-distributions-and-densities/#/

## 25. CV - GridSearch - Metrics

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html

https://scikit-learn.org/stable/modules/model_evaluation.html

https://scikit-learn.org/stable/modules/cross_validation.html

## 26. Feature Engineering

https://www.analyticsvidhya.com/blog/2021/03/step-by-step-process-of-feature-engineering-for-machine-learning-algorithms-in-data-science/

https://www.projectpro.io/article/8-feature-engineering-techniques-for-machine-learning/423

https://www.analyticsvidhya.com/blog/2020/10/feature-selection-techniques-in-machine-learning/

https://machinelearningmastery.com/feature-selection-with-real-and-categorical-data/

https://scikit-learn.org/stable/modules/feature_selection.html

https://www.kdnuggets.com/2021/06/feature-selection-overview.html